<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dao.UserDAO">



    <!--查询所有方法-->
    <select id="findAll" resultType="User">
        select id,name,bir,sex,address
        from t_user
    </select>

    <!--保存用户信息-->
    <insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user values(#{id},#{name},#{bir},#{sex},#{address})
    </insert>

    <!--根据id删除用户信息-->
    <delete id="delete" parameterType="String">
        delete from t_user where id = #{id}
    </delete>


    <!--修改用户信息-->
    <update id="update" parameterType="User">
        update t_user set name=#{name},bir=#{bir},sex=#{sex},address=#{address}
        where id =#{id}
    </update>

    <!--分页查询-->
    <select id="findByPage" resultType="User">
        select id,name,bir,sex,address
        from t_user limit #{start},#{rows}
    </select>

    <!--查询总条数-->
    <select id="findTotals" resultType="Long">
        select count(id) from t_user
    </select>

</mapper>